* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 1920px;
    width: 4915px;
}

@font-face {
    font-family: Orbitron-Regular;
    src: url(../fonts/Orbitron/static/Orbitron-Regular.ttf);
}

@font-face {
    font-family: Orbitron-Medium;
    src: url(../fonts/Orbitron/static/Orbitron-Medium.ttf);
}

@font-face {
    font-family: Orbitron-Black;
    src: url(../fonts/Orbitron/static/Orbitron-Black.ttf);
}
@font-face {
    font-family: Orbitron-Extrabold;
    src: url(../fonts/Orbitron/static/Orbitron-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

.container {
    background-color: #090013;
    width: 1920px;
    height: 4915px; /* Занимает всю высоту окна */
    position: relative;
}
.blur1{

position: absolute;
width: 310px;
height: 310px;
left: -154px;
top: -112px;

background: #3F2E98;
filter: blur(100px);

}
.aboutg {
    position: absolute;
}

.header__logo_name{
position: absolute;
width: 282px;
height: 40px;
left: 286px;
top: 32px;
font-family: 'Orbitron';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
}
.font1 {
    font-family: Orbitron-regular;
    font-size: 32px;
    color: #FFFFFF;
    position: relative;
}

.font2 {
    font-family: Orbitron-Black;
    font-size: 32px;
    color: #FFFFFF;
    position: relative;
}
.home{
position: absolute;
width: 50px;
height: 18px;
left: 739px;
top: 43px;
font-family: Orbitron-Medium;
font-style: normal;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
}
.about{
    /* About */

position: absolute;
width: 60px;
height: 18px;
left: 834px;
top: 43px;

font-family: Orbitron-Extrabold;
font-style: normal;

font-size: 14px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.05em;
text-transform: uppercase;

color: #8A35F2;
}
.services{
    /* Services */

position: absolute;
width: 90px;
height: 18px;
left: 939px;
top: 43px;

font-family: Orbitron-Medium;
font-style: normal;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;
}
.blog{
    /* Blog */

position: absolute;
width: 48px;
height: 18px;
left: 1074px;
top: 43px;

font-family: Orbitron-Medium;
font-style: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


}
.pages{
    /* Pages */

position: absolute;
width: 60px;
height: 18px;
left: 1167px;
top: 43px;

font-family: Orbitron-Medium;

font-size: 14px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


}
.contact{
    /* Contact */

position: absolute;
width: 84px;
height: 18px;
left: 1272px;
top: 43px;

font-family: Orbitron-Medium;
font-size: 14px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;
}
.search{
    position: absolute;
    left: 1386px;
    top: 43px;
    bottom: 98.76%;
    background: #FFFFFF;
    }
.contact_now{
    /* Group 1000004858 */

position: absolute;
width: 201px;
height: 54px;
left: 1434px;
top: 25px;


}
.hand{
position: absolute;
width: 448px;
height: 269px;
left: 1920px;
top: 150px;
}
.blur2{
    /* Ellipse 2726 */

position: absolute;
width: 252px;
height: 252px;
left: 1794px;
top: 234px;

background: #501C52;
filter: blur(95px);

}